.appBackground {

    background-image: url("back2.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
.appBackground2{
    background-image: url("back.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
.onright{
    float:right;
}
.outer{
    margin-top:100px;
}
.divs{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(199, 197, 197));
}
.nav{
    margin-left: 5px;
    margin-right: 5px;
}